

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
     <title>Document</title>
</head>
<body class="bg">
   <div class="parent">
        <div class="child1">
        <!-- Empty Div -->
        </div>
        <div class="child2">
            <form class="grid" action="/result" method="post">      
                <div>
                    <label for="Name">Enter Web Address: </label>
                    <input type="text" name="webaddress"  class="input-field" id="name" required>
                </div>
                
                <br>
        
                <div>
                    <label for="Port">Enter Port Range </label>
                    <input type="text" name="portNumber" class="input-field" id="" placeholder="example 80-100" required>
                </div>
                
                <center> <input type="Submit"  name="" id="" class="file_submit "></center>
            </form>
        </div>
   </div>
</body>
</html>